    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    li {
        list-style-type: none;
    }

    .sizeInput input {
        height: 20px;
        width: 90px;
        margin-top: 25px;
    }

    .square {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color: #fff;
        border: 1px solid black;
        overflow: hidden;
        font-size: 20px;
        font-weight: bold;
    }

    .boardRow {
        height: 35px;
        line-height: 35px;
        text-align: center;
    }

    .gameInfo{
        margin-top: 30px;
        margin-left: 30px;
    }

    .game {
        display: flex;
    }

    .historyList {
        float: right;
        margin: 30px 0px 0px 50px
    }

    .historyButton {
        margin-bottom: 10px;
        width: 100px;
    }

    .gameBoard {
        display: flex;
    }

    .status {
        height: 150px;
        line-height: 40px;
        text-align: center;
    }

    .board {
        margin-left: 50px;
    }
